{% extends "base.html" %}
{% load static %}
{% block content %}
    <div "col-md-12 container">
        <div class="col-md-2"></div>
        <div id="carouselExampleAutoplaying" class="col-md-8 offset-md-2 carousel slide carousel-custom" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="{% static "images/slide_1.jpg" %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="{% static "images/slide_2.jpg" %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                <img src="{% static "images/slide_3.jpg" %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="col-md-2 offset-md-10"></div>
        <div>
            <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste beatae neque earum placeat minus cum maxime animi obcaecati doloremque facere aspernatur, reiciendis dignissimos sunt alias culpa delectus incidunt eligendi eaque.</h1>
            <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste beatae neque earum placeat minus cum maxime animi obcaecati doloremque facere aspernatur, reiciendis dignissimos sunt alias culpa delectus incidunt eligendi eaque.</h1>
            <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste beatae neque earum placeat minus cum maxime animi obcaecati doloremque facere aspernatur, reiciendis dignissimos sunt alias culpa delectus incidunt eligendi eaque.</h1>
            <h1>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste beatae neque earum placeat minus cum maxime animi obcaecati doloremque facere aspernatur, reiciendis dignissimos sunt alias culpa delectus incidunt eligendi eaque.</h1>
            
        </div>
    </div>

    {% endblock  %}